<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        
    <!-- <link rel="stylesheet" href="../public/styles/index.css"> -->
    <title>Home</title>
    <style>
        body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.test{
    backdrop-filter: blur(10px);  
    margin-top: 5%;
    
}
body{
  /* The image used */
  background: rgb(2,0,36);
background: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(228, 241, 245) 31%, rgb(103, 95, 241) 100%);



  /* Full height */
  overflow: hidden;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h5>a:hover{
    scale: 2,2;
}
    </style>
</head>
<body>
    <div class="test container">
        <div class="section">
            <div>
                <h1 class="blue-text">
                    Hello 
                    <% if(typeof user != 'undefined') {%>
                        <%= user.name %>
                    <%} %>
                </h1>
                <div class="divider indigo">
                 
                </div>
                <% if(typeof user == 'undefined') {%>
                   <p class="indigo-text " style="letter-spacing: 0.5em;">
                     Please select an action 
                    </p>
                    
                    <div class="row">
                        <div class="col s4"><h5><a class="choice red-text" href="/register">SignUp</a></h5></div>
                        <div class="col s4"><h5><a class="choice green-text" href="/login">SignIn</a></h5></div>
                    </div> %>
                <%}%>                     
            </div>   
            
        </div>
        
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous">
      </script>
  
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  

</body>
</html>