<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <title>Sign In</title>
    <style>
      
.main-box{
  backdrop-filter: blur(50px);
}
    </style>
</head>
<body>
    <div class="main-box container">
        <div class="form container">
            <h2 class="blue-text center">
                Login
            </h2>
            <form action='/login' method="POST" class="col s12">
                <% if( success_message!= ''){ %>
                  <h5 class="red-text center"><%= success_message %></h5>
                  <% }%>

                  <% if(error != '') {%>
                    <h5 class="red-text center"><%= error %></h5>
                <%} %>

                <div class="row">
                    <div class="input-field col s12">
                      <input name="email" placeholder="Email" id="email" type="email" />
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input name="password" placeholder="Password" id="password" type="password"/>
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" center input-field col s12">
                      <input type="submit" class="btn blue darken-3" value="Sign In"/>
                      <h5 class="grey-text">Don't have an account? <a href="/register">Sign Up</a></h5>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</body>
</html>